.sequencer {
    margin: 16px;
    width: 80%;
    min-width: 900px;
}

.global-settings {
    align-items: center;
    display: flex;
    padding: 5px;
}

.form-group {
    margin: 5px;
}

.baseline-button {
    align-self: flex-end;
    margin: 5px;
}

.sequencer-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.sequencer-channel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-number {
    margin-right: 16px;
}

.remove-button {
    margin-right: 16px;
}

.instrument-select {
    width: 150px;
    margin-right: 16px;
}

.button-note {
    /*background: white;
    border-radius: 3px;*/
    flex-shrink: 0;
    outline: none;
    border: 1px solid rgba(94,94,94,.25) !important;
    height: 30px;
    width: 20px;
    margin: 2px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

/*.button-note:hover {
    border: 1px solid rgba(94,94,94,.65) !important;
}*/

/*.button-note.selected {
    background: blue;
}*/

.note-divider {
    width: 1px;
    height: 30px;
    margin: 0;
    border-right: 1px solid #333;
}