.global-settings {
    display: flex;
}

.sequencer-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.sequencer-channel {
    display: flex;
    align-items: center;
}

.button-note {
    background: white;
    border: 1px solid rgba(94,94,94,.25) !important;
    border-radius: 3px;
    height: 20px;
    width: 20px;
}

.button-note:hover {
    border: 1px solid rgba(94,94,94,.65) !important;
}

.button-note.selected {
    background: blue;
}

.button-note.active-note {
    background: yellow !important;
    border: 2px solid green;
}